.login{
    margin-top:10px;
    margin-left: 330px;
}

.react-logo{
    margin-left: 280px;
}
.login-text-one{
    margin-left:290px
}
.login-text-two{
    margin-left:260px
}
.btn-option-one{
    background-color: #ffffff;
    border: #ffffff;
    cursor: pointer;
    margin-left: 570px;
    font-size: 20px;
    margin-top: 50px;
}
.btn-option-two{
    background-color: #ffffff;
    border: #ffffff;
    cursor: pointer;
    margin-left: 170px;
    font-size: 20px;

}

.links{
    margin-top: 10px;
    margin-left: 330px;
}
.btn{
    background-color: #e70b89;
    color: white;
    padding: 14px 20px;
    width: 34%;
    cursor: pointer;
    border-color: #e70b89;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 40px;

}
.input{
    margin-top: 20px;
    margin-left: 200px;
    padding: 14px 20px;
    width:30%;
    border-radius: 40px;


}

.forgot-pass{
    margin-left: 480px;

}
.text{
    margin-left: 360px;
    margin-top: 20px;

}

.logo{
    margin-left: 365px;
    margin-top: 20px;

}
.below-text-one{
    margin-left: 280px;
    margin-top: 20px;
}
.below-text-two{
    margin-left: 220px;
    margin-top: 20px;
}